<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="bower_components/connect-grid/styles/grid.css"/>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/connect-grid/build/build.js"></script>

    <!-- build:js:bundle build.js -->
    <script src="module.js"></script>
    <script src="js/grid-rest-connector-directive.js"></script>
    <!-- /build -->
    <style>
        .country-cell {
            text-decoration: underline;
        }
    </style>
</head>
<body ng-controller="gridDemoController">

<connect-grid class="grid" ng-model="data" grid-options="gridOptions" connect-grid-rest-connector="gridRestConnectorOptions"></connect-grid>

<div style="clear: both"></div>

<div ng-repeat="row in data">
    {{ row }}
</div>

<script>
    var app = angular.module('gridDemo', ['connect-grid', 'connect-grid-rest-connector', 'ngResource'])
            .controller('gridDemoController', [
                            '$scope',
                            '$resource',
                            function ($scope, $resource) {

                                var WordResource = $resource('/api/word/:wordId', {
                                    'wordId': '@id'
                                });

                                $scope.data = [];

                                $scope.gridOptions = {
                                    columnDefs: [
                                        {field: 'english', width: 100},
                                        {field: 'dutch', width: 100},
                                        {field: 'partOfSpeech', width: 100},
                                        {field: 'usageExample', width: 250}
                                    ]
                                };

                                $scope.gridRestConnectorOptions = {
                                    Resource: WordResource
                                };
                            }]);
    angular.bootstrap(document, ['gridDemo']);
</script>

</body>
</html>